<!-- frontend/src/app/author-panel/pages/author-profile/lista-autores.component.html  -->
<!-- lista-autores.component.html -->
<div class="lista-autores">

  <h2>Autores</h2>

  <div *ngIf="cargando">Cargando autores...</div>

  <!-- Grid de cards -->
  <div class="autores-grid">

    <div class="autor-card" *ngFor="let autor of autores">

      <a class="autor-link" [routerLink]="['/autor', autor.slug]">

        <!-- Imagen de perfil -->
        <div class="autor-imagen">
          <img 
            *ngIf="autor.foto_perfil" 
            [src]="backendUrl +  autor.foto_perfil"
            [alt]="autor.nombre"
          />

          <!-- Imagen fallback si no hay foto -->
          <img 
            *ngIf="!autor.foto_perfil" 
            src="/assets/default-avatar.png" 
            alt="Autor"
          />
        </div>

        <h3 class="autor-nombre">
          {{ autor.nombre }}
        </h3>

        <p class="autor-estado">
          Estado: {{ autor.estado }}
        </p>

      </a>

    </div>

  </div>

  <a class="volver" routerLink="/">← Volver</a>

</div>