/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #fff4f4;
}

.main-container {
  padding: 20px;
  min-height: calc(100vh - 160px); // ajusta según el tamaño de header/footer
}
